<!DOCTYPE html>
<html lang="en">
<head>
  <title>Helix</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</head>
<body>
{% load static %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="../">Home</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="../editor">Editor</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">DAG</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Other</a>
    </li>
  </ul>
</nav>


<div class="container">
    <div class="row">
        <div class="col-sm-4" id = "msgtrain"> Processing </div>
    </div>

</div>
{% csrf_token %}
<script type="text/javascript">
    var job_status = {}
    var prev_status = {}


    function queryStatus(){
        var formData = "{{ task_id }}"; 
        $.ajax({
            url : "../task/",
            type: "POST",
            dataType: "text",
            data : {"csrfmiddlewaretoken": "{{ csrf_token }}", "task_id": formData},
            success: function(data, textStatus, jqXHR){
                prev_status = job_status;
                job_status = JSON.parse(data);
                if (prev_status["state"] == job_status["state"] && prev_status["stage"] == job_status["stage"]) return;
                //if (prev_status == job_status) return;
                var new_status = "<p>State: " + job_status["state"] + ", " + "Stage: " + job_status["stage"] + ", " + "Info: " + job_status["stage_message"] + "</p>";
                document.getElementById("msgtrain").innerHTML += new_status;
            },
            error: function (jqXHR, textStatus, errorThrown){
                job_status = {"status": "FAILURE"};
                //alert("Failed");
            }
        });
    }
    function queryProgress() {
        queryStatus();
        if (job_status["status"] == "SUCCESS") {
            return;
        } else if (job_status["status"] == "FAILURE") {
            return;
        } else {
            setTimeout("queryProgress();", 100);
        }
    }
    queryProgress();
</script>

</body>
</html>
